.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-family: ui-monospace;
  font-size: 2rem;
  pointer-events: auto;
  background-color: #ffffff5c;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0.3rem;
}
.btn-secondary {
  color: #fff;
  background-color: #3a4047;
  border-color: #292d31;
}
.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 0px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.form-background {
    background-image: url('../images/backgroundimg.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

.form-background:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.5); Black background with opacity */
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    background: #ffffff24;
    margin-top: 5rem;
}

h2{ 
    margin-bottom: 0.5rem;
    font-weight: unset;
    font-size: 2rem;
    font-family: system-ui;
    line-height: 2.2;  
}

.form-background {
    background-color: #f8f9fa2d;  /* Light background to enhance form visibility */
    padding: 20px;
  }
  
  .form-control, .btn {
    border-radius: 0.25rem;
  }

  .col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    /* margin-bottom: -18px; */
    font-size: 1.1rem;
    font-weight: unset;
    color: black;
    font-family: system-ui;
    line-height: 1.5;
}

.input-group .btn {
    border: 1px solid #c3acac;
    color: black;
}
  .value-button {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin: 0;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    cursor: pointer;
  }
  
  #number {
    max-width: 100px;
    text-align: center;
  }
 
.custom-btn {
    background-color: #fcfcfc00;
    color: #051923;
    font-weight: 700;
    border: revert-layer;
    padding: 10px 20px;
    border-radius: 5px;
}
.custom-btn:hover {
    background-color: #fcfcfc00; /* Darker green on hover */
    border: none; /* Ensures no border on hover */
}

footer {
    background-color: black; 
    padding: 20px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    bottom:0;
  }


footer ul {
    list-style-type: none; 
    text-align: center;
    padding: 0;
  }

  footer ul li {
    display: inline; 
    margin-right: 20px;
  }

  footer ul li a {
    text-decoration: none;
    color: #f7f8fa; 
    font-weight: bold;
  }

  footer ul li a:hover {
    text-decoration: underline; 
  }

